body{
    background-color: azure;
}
#bookingbox{
      
    background-image:url("hotel4.jpg");
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
    background-size: 100% 100%;
   
        }
#box{
    
      position: center;

}
label {
    font-size: 30px;
    color: whitesmoke;
    text-shadow: 2px 2px black;
}