<!DOCTYPE html>
<html>
<head>
    <title>Now book your hotels</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
     <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="/homepage">Abhigo</a>
            </div>
            <ul class="nav navbar-nav">
              <li class="active"><a href="/homepage">Home</a></li>
              <li><a href="#">Deals</a></li>
              
                <li><a href="">Help</a></li>
            </ul>
          </div>
        </nav>
    
    <h1>
        
        User ID:<%= Userid %>
    </h1>
    <h1>
        Name : <%= Name %> 
        
    </h1>
   
    
   
</body>
</html>