<!DOCTYPE html>
<html>
<head>
    <title>Now book your hotels</title>
</head>
<body>
    <div>
    <img src="hotel1";>
    </div>
    <p>Welcome <%= Name %></p>
    <h1>Select a hotel </h1>
    <a href = "http://www.google.com">Tea valley Restaurant </a><br>
    <a>The tall trees munnar </a><br>
    <a>Wayand Silver hoods </a>
</body>
</html>