<!DOCTYPE html>
<html>
<head>
    <title>Now book your hotels</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
     <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="/homepage">Abhigo</a>
            </div>
            <ul class="nav navbar-nav">
              <li class="active"><a href="/home">Home</a></li>
              <li><a href="#">Deals</a></li>
              <li><a href="/createuser">Sign Up</a></li>
                <li><a href="">Help</a></li>
            </ul>
          </div>
        </nav>
    <div class="alert alert-success">
    <strong>Success!</strong> You are now loged in                                                                           </div>
    <p>Welcome <%= Name %></p>
    <h4>Select a hotel </h4>
    <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="#" target="_blank">
          <img src="/hh1.jpg" alt="Lights" style="width:100%">
          <div class="caption">
            <p>Tea valley Restaurant</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="#" target="_blank">
          <img src="/hh2.jpg" style="width:100%" alt="Fjords">
          <div class="caption">
            <p>The tall trees munnar</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="#" target="_blank">
          <img src="hh3.jpg" style="width:100%">
          <div class="caption">
            <p>Wayand Silver hoods</p>
          </div>
        </a>
      </div>
    </div>
  </div>
    
   
</body>
</html>